@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  height: 100%;
}

.title-section {
  margin-bottom: 1rem;
}

.title-container {
  height: 8rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 2.5em;
}

.title-container__activities {
  color: #ec6536;
  border-color: 0.1rem solid;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.title-container__type-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

.title-container__type-activity > h1 {
  font-size: 3rem;

  display: inline-block;
}

.title-container__type-activity > a {
  background-color: #ec6536;
  color: white;
  text-decoration: none;
  border-radius: 0rem 2rem 2rem 2rem;

  text-align: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;

  padding: 0.5rem;
  justify-items: center;
}

.title-container__type-activity > a:hover {
  color: #ec6536;
  border: 0.1rem solid #ec6536;
  background-color: white;
  transition: 300ms;
}

@media (max-width: 376px) {
  .title-container {
    text-align: center;
  }

  .title-container > p {
    font-size: 0.5em;
  }

  .title-container__type-activity > h1 {
    font-size: 2.3em;
    padding: 0.5rem 0;
  }

  .title-container__type-activity > a {
    display: block;
  }
}

/* @media (min-width: 1024px) {
  .title-container__type-activity {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
} */

.pictures-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pictures-section__pictures-container {
  gap: 30px;
  width: 90%;
  display: flex;
  align-items: center;
}

.pictures-container__animal-card {
  position: relative;
  width: 80%;
}

.pictures-container__animal-card img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.animal-card__text-container {
  position: absolute;

  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  opacity: 0;
  text-align: center;
}

.animal-card__text-container h3 {
  font-size: 2em;
}

.pictures-container__animal-card img:hover {
  transition: 300ms;
  filter: brightness(75%);
}

.pictures-container__animal-card:hover > .animal-card__text-container {
  opacity: 1;
  transition: 200ms;
}

.animal-card__text-container ~ p {
  text-align: center;
}

@media (max-width: 377px) {
  .pictures-section__pictures-container {
    flex-direction: column;
  }

  .title-container__type-activity {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
  }

  .pictures-container__animal-card img {
    filter: brightness(75%);
  }

  .animal-card__text-container {
    position: absolute;
    font-size: 0.7em;
    top: 80%;
    opacity: 1;
  }
}
